# Configuration file

~CONFIG_VERSION: rv5-stable-11

counters {
    I:lastGridStorage=48194
    I:lastPlayer=1
}


gridstorage {
    S:152=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:158=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25463=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25471=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25495=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIX93AAAIA5qtNvBUAAAA=
    S:25498=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIP8UABgBv+DyPFQAAAA==
    S:25518=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiG5gAAEAk4MTARUAAAA=
    S:25743=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25786=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25787=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25840=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:25854=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25879=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25881=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25886=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:25901=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25902=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25904=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25905=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25907=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25910=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:25938=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:25949=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI4HZgAAEAkHQuMxUAAAA=
    S:26866=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:26871=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLImOXAAAIAGAmRehUAAAA=
    S:26874=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:26911=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:26935=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27029=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27034=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27043=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27046=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27098=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27106=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27113=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27261=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI4HZgAAEAkHQuMxUAAAA=
    S:27262=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:27269=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27273=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27295=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:27298=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27304=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIWHiAAQQAaOxFzhUAAAA=
    S:27310=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27315=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27327=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:27328=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27345=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27360=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27372=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:27373=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:27376=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:27378=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:27385=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGMAAwDsuJtNFQAAAA==
    S:27388=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:27389=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMGEAAwBHq11iFQAAAA==
    S:27393=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:27450=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:27454=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIV2IAAwAfEHO/FQAAAA==
    S:27457=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIZ2IAAwCDKc5wFQAAAA==
    S:27460=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIV2IAAwAfEHO/FQAAAA==
    S:27477=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiG5gAAEAk4MTARUAAAA=
    S:43989=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIV2IAAwAfEHO/FQAAAA==
    S:43992=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIZ2IAAwCDKc5wFQAAAA==
    S:43995=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIV2IAAwAfEHO/FQAAAA==
    S:44421=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI4HZgAAEAkHQuMxUAAAA=
    S:44422=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:44429=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44433=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44455=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:44458=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44464=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIWHiAAQQAaOxFzhUAAAA=
    S:44470=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44487=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:44488=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44505=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44524=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIX93AAAIA5qtNvBUAAAA=
    S:44530=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:44531=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:44534=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:44536=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:44543=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGMAAwDsuJtNFQAAAA==
    S:44546=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:44547=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMGEAAwBHq11iFQAAAA==
    S:44551=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:44608=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIP8UABgBv+DyPFQAAAA==
    S:44614=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiG5gAAEAk4MTARUAAAA=
    S:44943=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:44946=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45371=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45401=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIWHiAAQQAaOxFzhUAAAA=
    S:45404=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI4HZgAAEAkHQuMxUAAAA=
    S:45414=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45426=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45433=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:45438=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45452=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45457=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45471=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45487=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGlgAAEAHb20xBUAAAA=
    S:45489=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMHJgAAEAEZTVDhUAAAA=
    S:45498=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI0DvAAAIAc3YbsBUAAAA=
    S:45501=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI0DvAAAIAc3YbsBUAAAA=
    S:45514=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMHJgAAEAEZTVDhUAAAA=
    S:45524=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIaGMAAwDO9bfVFQAAAA==
    S:45572=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIkG5gAAEA6vYYRRUAAAA=
    S:45604=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45607=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45612=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45617=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45620=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45655=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:45697=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45699=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:45703=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:45705=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45713=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGMAAwDsuJtNFQAAAA==
    S:45716=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45718=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMGEAAwBHq11iFQAAAA==
    S:45722=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:45872=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47069=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGlgAAEAHb20xBUAAAA=
    S:47075=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47101=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47105=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIWHiAAQQAaOxFzhUAAAA=
    S:47107=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI4HZgAAEAkHQuMxUAAAA=
    S:47110=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47115=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:47116=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47128=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47134=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIqGlgAAEAgYQJCxUAAAA=
    S:47138=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47151=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47155=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47169=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47186=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGlgAAEAHb20xBUAAAA=
    S:47187=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47189=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMHJgAAEAEZTVDhUAAAA=
    S:47194=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47195=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47199=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI0DvAAAIAc3YbsBUAAAA=
    S:47202=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47203=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLI0DvAAAIAc3YbsBUAAAA=
    S:47207=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47208=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47212=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47215=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47219=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMHJgAAEAEZTVDhUAAAA=
    S:47221=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47225=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47231=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIaGMAAwDO9bfVFQAAAA==
    S:47241=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47243=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47247=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47251=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47282=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIkG5gAAEA6vYYRRUAAAA=
    S:47314=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47317=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47322=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47327=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47330=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47365=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:47403=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47404=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:47407=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMD3AAAIAR77C1RUAAAA=
    S:47409=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47416=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIiGMAAwDsuJtNFQAAAA==
    S:47419=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:47420=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIMGEAAwBHq11iFQAAAA==
    S:47424=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLISD3AAAIA8FcX9hUAAAA=
    S:61=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:8942=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIZ2IAAwCDKc5wFQAAAA==
    S:8973=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:8979=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:8982=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIV2IAAwAfEHO/FQAAAA==
    S:8992=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:90=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIP36AAQQAG4cD/xUAAAA=
}


orderedvalues {
    I:presses=13
}


players {
    I:065707a5-177f-41a7-838f-0b16bf3edb14=0
}


